node_modules/
dist/
build/
release/
node_modules/
dist/
build/
release/
.DS_Store
.env
*.log
*.zip
*.exe
/.cache
/.parcel-cache
coverage/
/ .idea
.vscode/
node_modules

# Ignore common local backup / temp file patterns
*.bak
*.old.*
*.headcopy
*.workbackup
*inprogress*

# Editor temp files
*~
*.swp
